.card {
    height: 27vh;
    width: 15vw;
    min-width: 180px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    margin: auto;
    font-size: 1.5rem;
    font-weight: 600;
    color: #483949;
    transition: color 0.5s;
    text-align: center;
}

.title:hover {
    color: #ef8376;
}