.backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/CL60.png");
    background-size: cover;
    background-repeat: no-repeat;
}